prometheus_scrape_interval: 15s
prometheus_evaluation_interval: 15s

prometheus_scrape_configs:
  - job_name: 'prometheus'
    consul_sd_configs:
      - server: '{{ ansible_default_ipv4.address }}:8500'  # Dirección de tu servidor Consul
        services: []
    relabel_configs:
      - source_labels: [__meta_consul_service]
        target_label: job
      - source_labels: [__meta_consul_tags]
        regex: .*,prometheus,.*
        action: keep

  - job_name: 'prometheus federation'
    consul_sd_configs:
      - server: '{{ ansible_default_ipv4.address }}:8500'
        services: []
    metrics_path: '/federate'
    params:
      'match[]': ['{__name__=~".*"}']  # Esto selecciona todas las métricas que quieres federar, ajusta según lo que necesites
    relabel_configs:
    relabel_configs:
      - source_labels: [__meta_consul_service]
        target_label: job
      - source_labels: [__meta_consul_tags]
        regex: .*,federated,.*
        action: keep
#      - target_label: __metrics_path__
#        replacement: '/federate'

#prometheus_scrape_configs:
#- job_name: 'prometheus'
#  scrape_interval: 10s
#  scrape_timeout:  10s
#  static_configs:
#    - targets: ['172.16.60.21:9100']

#- job_name: 'prometheus-cluster'  # Este es el trabajo de federación
#  scrape_interval: 15s
#  scrape_timeout: 15s
#  metrics_path: '/federate'
#  params:
#    'match[]': ['{job="kubernetes-nodes"}']  # O lo que desees federar
#  static_configs:
#    - targets: ['172.16.60.22:31000']  # IP del Prometheus del clúster

#- job_name: 'node_exporter'
#  scrape_interval: 5s
#  static_configs:
#    - targets:
#      - "172.16.60.23:9100"
