data_dir = "/consul/data"
node_name = "{{ inventory_hostname }}"
server = true
bootstrap_expect = 1
bind_addr = "0.0.0.0"
advertise_addr = "{{ ansible_default_ipv4.address }}"
client_addr = "0.0.0.0"
ui = true
