{
  "service": {
    "id": "node-exporter-{{ inventory_hostname }}",
    "name": "node-exporter",
    "tags": ["prometheus", "exporter"],
    "port": 9100,
    "check": {
      "http": "http://{{ ansible_default_ipv4.address }}:9100/metrics",
      "interval": "10s"
    }
  }
}
